[project]
	description = Booking Lunch System By Rails
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chenpy
[access "refs/for/refs/*"]
	read = group user/chenpy
	push = group user/chenpy
	label-Code-Review = -2..+2 group user/chenpy
	label-Verified = -1..+1 group user/chenpy
	rebase = group user/chenpy
	removeReviewer = group user/chenpy
	submit = group user/chenpy
[access "refs/heads/*"]
	read = group user/chenpy
	create = group user/chenpy
	push = +force group user/chenpy
	pushMerge = group user/chenpy
[access "refs/tags/*"]
	push = +force group user/chenpy
	pushTag = group user/chenpy
	pushSignedTag = group user/chenpy
